*{
    margin:0px;
    padding: 0px;
}
.blink-it-navbar{
border-bottom: 1px solid rgb(238, 238, 238);
position: sticky;
top: 0px;
height: 86px;
background-color: white;
box-sizing: border-box;

}
.vertical-line{
    border-left: 1px solid rgb(238, 238, 238);
    height: 100%;
    
}

.location>p{
    font-size:13px ;
    font-weight: 400;

}
.search-bar{
    background-color: #f8f8f8;
    border-radius: 8px;
    border: 1px solid rgb(238, 238, 238);
    padding: 10px;
    width: 40vw;
}
.search-bar>input{
    border: none;
    width: 95%;
    background-color: transparent;
}
.search-bar>input:focus{
    outline: none;
    
}
.my-scrollable-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    overflow-x:auto;
    width: 85vw;
}
.list{
    width: 100%;
    margin-inline: auto;
    white-space: nowrap;
  
}

 .list>div{
    /* display: inline-block; */
    margin: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
::-webkit-scrollbar{
    display: none;
}
    

.my-categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 85vw;
    margin-inline: auto;
}
.my-categories-div{
    width: 85vw;
    justify-content: center;
    margin-inline:auto;

}
.my-card{
    width: 190px;
    box-sizing: border-box;

}
.time-taken{
    font-size: 9px;
    font-weight: 700;
    color: rgb(54 54 54);
    width: fit-content;
    padding: 3px;

}
.product-name{
    
    color :rgb(31 31 31 );
    font-weight: 600;
    font-size:13px;
    width: 100%;
    margin-top: 6px;
    height: 35px;
    margin-bottom: 6px;
}
.product-weight{
 font-size: 9px;
 color: rgb#666666;
}
.product-price{
    color: rgb(31 31 31 );
    font-weight: 600;
    font-size: 12px;

}
.product-btn{
    border: 1px solid green;
    color: rgb(49 134 32);
    border-radius: 6px;
    background-color: rgb(247 255 249 );
    text-transform: uppercase;
    width: 66px;
    font-weight: 700;
    padding :5px 10px;

}
.my-category-div{
    width: 85vw;
    justify-content: center;
    margin-inline: auto;
    margin-top: 20px;

}

.my-category-row{
    display: flex;
    justify-content: space-between;
}
.discount{
    box-sizing:border-box;
    border-width:0px;
    border-style:solid;
    position: absolute;
    top: 0%;
    background-color: blue;
    color: white;
    padding-left: 0;
}
.my-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    width:85vw;
}
.row-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
    margin-bottom: 30px;
}
.row-2{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.row-2-col-1{
    width: 30vw;
    padding-left: opx;

}
.row-col-2{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.row-col-2>button{
    width: 100px;
    height: 30px;
    color: white;
    border-radius: 10px;
    border: none;
    background-color:black;
    margin-inline:5px ;
}
.row-2-col-3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-2-col-3>a{
   border-radius: 5px;
   background-color: black;
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   margin: 5px;
     
}
.row-3{
    color:#666666;
    font-size: 16px;
    padding: 10px;
    text-align: justify;
}
td{
    padding:3px 20px;
    color: #666666;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}
tr>th{
    text-align: center;
}
.table-2{
    flex:2;
}
.table{
    flex:1;
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: black;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color:red;
    background-color: transparent;
    text-decoration: underline;
  }